.headline{
  background-color:#000;
  color: #800;
  text-align: center;
  font-size: 50px;
}

.nav {
  background-color: #000;
  overflow: hidden;
}

.nav a {
  float: left;
  color: #800;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

p{
  color: #800;
  font-size: 20px;
  text-align: center;
}

.mainWindow{
  text-align: center;
}

.statWindow{
  text-align: center;
}

iframe{
  border: 1px solid #000;
  margin: 30px 30px 30px 30px;
}

input[type=text] {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%;
  color: #000;
}

input[type=submit] {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  color: #000;
  background-color: #800;
}
form{
  margin-top: 50px;
}


